<div class="table-rows">
    <div class="table-header">
        <div class="left-align">
            <span class="unit-with-info">Usos <info-popup [title]="'Usos'" > <div comment>Indicar los distintos usos de edificación incluidos en la obra.<br><br>Las obras de urbanización interior de la parcela deberán introducirse como zonas de actuación en la pestaña URBANIZACIÓN, según su tipología.</div> </info-popup> </span>
        </div>
        <div>
            Nº <br>Plantas repetidas <span style="color: red;">*</span>
        </div>
        <div>
            Superficie <span style="color: red;">*</span><br> <span class="unit-with-info">m² <info-popup [title]="'Superficie'" > <div comment>Indicar la superficie construida total correspondiente a cada uso, incluyendo todas las plantas, con independencia del número de plantas repetidas.</div> </info-popup> </span>
        </div>
        <div>
            PEM unitario  <span style="color: red;">*</span> <br> <span class = "unit-with-info" > €/m² <info-popup [title]="'PEM unitario'" > <div comment>Se recomienda utilizar como referencia el Módulo Básico de Edificación (MBE) del Instituto Valenciano de la Edificación (IVE), aplicando los coeficientes que correspondan a las características de la actuación.<br> <br>Más información en <a class="ive-link" href="https://www.five.es/modulo-de-edificacion/" target="_blank" rel="noopener noreferrer">MBE-IVE</a></div> </info-popup> </span>
        </div>
        <div>
            PEM instalaciones <span> <info-popup [title]="'PEM instalaciones'" > <div comment>Indicar el PEM de las instalaciones cuando sea independiente del PEM de la obra. Será este el valor empleado en el cálculo del proyecto de instalaciones.</div> </info-popup> </span>
        </div>
        <div>
            PEM Uso <br> €
        </div>
    </div>

    @for (use of edificationUses; track use.id) {
        <div class="table-row" animate.leave="table-row-exit">
            <div class="table-cell">
                {{$index + 1}}
            </div>
            <div class="table-cell">
                <input-field [isRequired]="true" [regexPattern]="wordRegex" (outputValue)="use.name = $event; emitValidity()"></input-field>
            </div>
            <div class="table-cell">
                <number-input-field [isRequired]="true" [maxLength]="10" [endingSymbol]="''" (outputValue)="use.repeatedFloors = $event; this.emitValidity()"></number-input-field>
            </div>
            <div class="table-cell">
                <number-input-field [isRequired]="true" [maxLength]="10" [endingSymbol]="'m²'" (outputValue)="use.area = $event; this.emitValidity()"></number-input-field>
            </div>
            <div class="table-cell">
                <number-input-field [isRequired]="true" [maxLength]="10" [endingSymbol]="'€/m²'" (outputValue)="use.unitPEM = $event; this.emitValidity()"></number-input-field>
            </div>
            <div class="table-cell">
                <number-input-field [isRequired]="false" [maxLength]="10" [endingSymbol]="'€'" (outputValue)="use.installationPEM = $event; this.emitValidity()"></number-input-field>
            </div>
            <div class="table-cell">
                {{ formatBigCurrency(totalPEM(use)) }}
            </div>
            <div class="table-cell">
                <button
                    class="delete-button"
                    type="button"
                    aria-label="Eliminar uso"
                    (click)="removeEdificationUse(use.id)">
                </button>
            </div>
        </div>
    } @empty {
        <div class="full-row">
            <div>
                No hay usos de edificación disponibles.
            </div>
        </div>
    }

</div>

<div class="add-row">
    <button
        class="add-button"
        [class.disabled]="edificationUses.length >= 4"
        type="button"
        aria-label="Añadir uso de edificación"
        (click)="addEdificationUse()">
        <span class="add-icon" aria-hidden="true"></span>
        <span>Añadir uso</span>
    </button>
    @if (edificationUses.length >= 4) {
        <div class="error-label" animate.leave="error-label-exit">No se consideran más de 4 usos.</div>
    }
</div>